<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Appointments
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card" [routerLink]="['/audit', appointment.key]" *ngFor="let appointment of appointments$ | async">
      <ion-card-header>
        <ion-badge class="card-end" [attr.color]="getBadgeColor(appointment)">{{getBadgeLabel(appointment)}}</ion-badge>
        <ion-card-title>Apt {{appointment.payload.val().number}}</ion-card-title>
        <ion-card-subtitle>{{appointment.payload.val() | roomsAndBaths}}</ion-card-subtitle>
        <ion-card-subtitle>{{appointment.payload.val().assignedTo}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
</ion-content>
