<div baDropdown>
    <div class="dropdown-trigger">
      <button class="button" baDropdownToggle>
        <span>Dropdown button</span>
        <span class="icon is-small">
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
      </button>
    </div>
    <div baDropdownMenu>
      <div class="dropdown-content">
        <a href="#" baDropdownItem>
          Dropdown item
        </a>
        <a href="#" baDropdownItem>
          Other dropdown item
        </a>
        <a href="#" baDropdownItem>
          Another dropdown item
        </a>
      </div>
    </div>
  </div>
