.card.clickable.active {
  box-shadow: 0 .5rem 0 0 green;
  border: 5px solid green;
}

.devices clr-icon {
  width: 85px;
  height: 85px;
  display: block;
  margin: 0 auto;
}

.card-text {
  text-align: center
}

.clr-control-container,
textarea {
  width: 100%;
}

.toggle-switch {
  margin-top: 10px;
}

label.clr-control-label {
  padding-top: 14px;
}
