<h1>Products</h1>
<button class="btn btn-outline btn-sm" (click)="addProduct()">Add Product</button>

<clr-datagrid>
    <clr-dg-column clrDgField="name">Name</clr-dg-column>
    <clr-dg-column>Expiration Date</clr-dg-column>
    <clr-dg-column clrDgField="active">Active</clr-dg-column>
    <clr-dg-row *clrDgItems="let product of products$ | async; trackBy trackById" [clrDgItem]="product">
        <clr-dg-action-overflow>
            <button class="action-item" (click)="onEdit(product)">Edit</button>
            <button class="action-item" (click)="onDelete(product)">Delete</button>
        </clr-dg-action-overflow>
        <clr-dg-cell>{{product.name}}</clr-dg-cell>
        <clr-dg-cell>{{product.expirationDate}}</clr-dg-cell>
        <clr-dg-cell>
            <span class="label" [ngClass]="{'label-success': product.active, 'label-danger': !product.active}">{{product.active ? 'Active': 'Inactive'}}</span>
        </clr-dg-cell>
    </clr-dg-row>
     <clr-dg-footer>
         <clr-dg-pagination #pagination [clrDgPageSize]="10">
             <clr-dg-page-size [clrPageSizeOptions]="[10,20,50]">Products per page</clr-dg-page-size>
 {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} products
         </clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>

<in-delete-product-modal
  *ngIf="delete"
  [product]="productToBeDeleted"
  (cancel)="handleCancel()"
  (confirm)="confirmDelete()"
>
</in-delete-product-modal>

<in-product
  *ngIf="productOpen"
  [product]="selectedProduct"
  (finish)="handleFinish($event)"
></in-product>
