.buy-btn {
  width: 100%;
}

.btn-mimicry {
  border: 1px solid rgba(0,0,0,.12);
  border-radius: 5px;
  box-shadow: 0 0 0 0 rgba(0,0,0,.2), 0 0 0 0 rgba(0,0,0,.14), 0 0 0 0 rgba(0,0,0,.12);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button[mat-icon-button] {
  width: 34px!important;
  height: 34px!important;
}

mat-icon {
  height: 32px;
  width: 25px;
}
